 .border {
  border: 5px solid transparent;
  // height: 40px;
  // width: 20px;
  // top: 20px;
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  // background-color: transparent;
}
.icons img{
height: 17px;
opacity: 0.5;
margin-left: -6px;
}
button{
  margin-right: 23px;
  width: 0px;
  border:none;
  background-color: transparent;
}

.color{
width: 25px;
height: 25px;
border-radius: 12px;
margin-right: 10px;
margin-left: 10px;
}

.themes{
// margin-left: 10px;
display:inline-block ;
// display: flex;
width: auto;
// margin-right: 10px;
// margin-block: -2px;
// margin-inline: -6px;
}

mat-icon{
opacity: 0.6;
cursor: pointer;
}

mat-icon:hover{
opacity: 0.9;
}

.matMenu{
  border: 1px solid transparent;
  height: 20px;
  width: 100px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.trash{
display: flex;
margin-top: 10px;
opacity: 0.7;
}
    
.delete_icons{
  display: flex;
  opacity: 0.5;
  cursor: pointer;
}
.unarchived{
  opacity: 0.5;
  margin-left: -8px;
  cursor: pointer;
}
.unarchived img{
  width: 18px;
}

