.titleBar{
    width: 600px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px rgb(212, 207, 207);
}

.titleBar-xs{
    width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px rgb(212, 207, 207);
}

.titleBar-sm{
    width: 500px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px rgb(212, 207, 207);   
}

.descBar{
    width: 600px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: none;
}

.descBar-xs{
    width: 220px;
    height: 40px;
    border-radius: 10px;
}

.descBar-sm{
    width: 500px;
    height: 50px;
    border-radius: 10px;
}

#descBar{
    box-sizing: border-box;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 2px rgb(212, 207, 207);
}

#descBar button{
    float: right;
    font-size: 15px;
    margin-top: -30px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid white;
    background-color: white;
}

.inner{
    position: relative;
    bottom: 35px;
    left: 500px;
    opacity: 0.5;
}

.icongroupclass{
    padding-right: 5px;
}

.checkbox{
    padding-right: 13px;
}
.edit{
    padding-right: 13px;
}

.push_pin{
    opacity: 0.5;
}

.notes{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon{
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-sm{
    margin-top: -5px;
}


    