
<div class="notes" fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="row">
  <div *ngIf="!show" (click)="showHide()">
      <label>
          <input type="text" placeholder="Take a note..." class="titleBar" ngClass.xs="titleBar-xs" ngClass.sm="titleBar-sm">
          <div class="inner" fxHide.xs="true" fxHide.sm="true">
            <img class="icongroupclass" src="../../../assets/images/newlist.svg">
            <img class="icongroupclass" src="../../../assets/images/drawing.svg">
            <img class="icongroupclass" src="../../../assets/images/img.svg">
          </div>
      </label>   
  </div>
  <div *ngIf="show" id="descBar">
      <div>
          <input matInput type="text" placeholder="Title" class="descBar" ngClass.xs="descBar-xs" ngClass.sm="descBar-sm" [(ngModel)]="title">
          <img style="margin-right: 15px; opacity: 0.5;" src="../../../assets/images/pin.svg">
      </div>
      <div>
          <input matInput type="text" placeholder="Take a note...." class="descBar" ngClass.xs="descBar-xs" ngClass.sm="descBar-sm" [(ngModel)]="desc">
      </div>
      <div class="icon" ngClass.sm="icon-sm">
          <app-icons class="symbols"></app-icons>
          <button mat-button (click)="close()">close</button>
      </div>
  </div>
  
</div>








