.takenote {
    border: 1px solid silver; 
    width:200px;
    border-color: #e0e0e0;
    border-radius: 14px;
    margin: 15px;
    height: auto;
}

.notetext{
    margin-left: 12px;
    margin-top: 5px;
}

.formatStyle{
    width: 500px;
    height: auto;
}

.allicons{
    display: none;
}

.takenote:hover .allicons{
    display: block;
}