<div class="body" fxLayout="column" fxLayoutAlign="space-between center">

    <div class="Component" ngClass.xs="Component-xs" ngClass.sm="Component-sm">
        <div class="Container" ngClass.xs="Container-xs" ngClass.sm="Container-sm">
            <div class="row-content" fxLayout="column" fxLayoutAlign="space-between left" fxLayout.xs="column"
                fxLayoutAlign.xs="start">
                <div class="F">
                    <span class="textsty" display=flex style="color:#4285f4">F</span>
                    <span class="textsty" display=flex style="color:#ea4335">u</span>
                    <span class="textsty" style="color:#fbbc05">n</span>
                    <span class="textsty" style="color:#4285f4">d</span>
                    <span class="textsty" style="color:#34a853">o</span>
                    <span class="textsty" style="color:#ea4335">o</span>
                </div>
                <div class="form-head">Create Your Fundoo Account </div>
                <form [formGroup]="regiserForm" (ngSubmit)="onSubmit()">
                    <div class="Name" ngClass.xs="Name-xs" ngClass.sm="Name-sm" fxLayout="row"
                        fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayout.sm="column"
                        fxLayoutAlign="space-between center">
                        <mat-form-field appearance="outline" class="box" ngClass.xs="box-xs" ngClass.sm="box-sm">
                            <mat-label>FirstName</mat-label>
                            <input matInput placeholder="FirstName" formControlName="firstName">
                            <mat-error>Enter your First Name</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" ngClass.xs="box-xs" ngClass.sm="box-sm">
                            <mat-label>LasstName</mat-label>
                            <input matInput placeholder="LastName" formControlName="LastName">
                            <mat-error>Enter your Last Name</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="Email" ngClass.xs="Email-xs" ngClass.sm="Email-sm" fxLayout="column"
                        fxLayoutAlign="stretch">
                        <mat-form-field appearance="outline">
                            <mat-label>UserName</mat-label>
                            <input matInput placeholder="UserName" formControlName="email">
                            <mat-hint>you can use letter,number & peroids</mat-hint>
                            <mat-error>Enter your email</mat-error>
                        </mat-form-field>

                    </div>
                    <div class="Hyper">
                        <a>Create a new address instead</a>
                    </div>
                    <div class="Name" ngClass.xs="Name-xs" ngClass.sm="Name-sm" fxLayout="row"
                        fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayout.sm="column"
                        fxLayoutAlign="space-between center">
                        <mat-form-field appearance="outline" class="box" ngClass.xs="box-xs" ngClass.sm="box-sm">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Password" formControlName="password">
                            <mat-hint>Use 8 or more characters with</mat-hint>
                            <mat-error>Enter your password</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" ngClass.xs="box-xs" ngClass.sm="box-sm">
                            <mat-label>Confirm</mat-label>
                            <input matInput placeholder="Confirm" formControlName="confirmPassword">
                            <mat-hint>mix letter,num,special char</mat-hint>
                            <mat-error>Enter your confirmPassword</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="all"> ShowPassword<br><br>
                    </div>
                    <div>
                        <div class="Sign" ngClass.xs="Sign-xs" ngClass.sm="Sign-sm" style="cursor: pointer;" routerLink="/login">Sign in Instead</div>
                    </div>
                    <button type="submit" class="Button" ngClass.xs="Button-xs" ngClass.sm="Button-sm">Next</button>
                </form>
            </div>
            <div class="account" fxHide.xs="true" fxHide.sm="true">
                <img src="../assets\images\account.svg" alt="">
                <mat-hint>One account. All of Fundoo</mat-hint>
                <mat-hint> Working for you</mat-hint>
            </div>
        </div>
    </div>
</div>